affine==2.3.0
anyio==3.4.0
appnope==0.1.0
argon2-cffi==21.1.0
array-to-latex==0.82
astroid==2.14.1
attrs==19.3.0
Babel==2.9.1
backcall==0.1.0
beautifulsoup4==4.8.2
bleach==3.1.0
Brotli==1.0.9
bs4==0.0.1
cachetools==5.2.0
Cartopy===0.18.0b2.dev41-
certifi==2019.11.28
cffi==1.15.0
chardet==3.0.4
charset-normalizer==2.0.12
Click==7.0
click-plugins==1.1.1
cligj==0.5.0
clipboard==0.0.4
conda==4.3.16
contextily==0.99.0
convert==0.1.2
ctx==0.1.2
cycler==0.10.0
Cython==0.29.15
decorator==4.4.1
defusedxml==0.6.0
Deprecated==1.2.7
descartes==1.1.0
dill==0.3.6
docloud==1.0.375
docplex==2.11.176
entrypoints==0.3
et-xmlfile==1.1.0
finance==0.2502
Fiona==1.8.13.post1
geographiclib==1.50
geojson==2.5.0
geopandas==0.7.0
geopy==1.21.0
google-api-core==2.11.0
google-api-python-client==2.70.0
google-auth==2.15.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.8.0
googleapis-common-protos==1.57.0
greenlet==0.4.15
haversine==2.2.0
httplib2==0.21.0
idna==2.8
ipykernel==5.1.4
ipython==7.12.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
isodate==0.6.1
isort==5.12.0
jedi==0.16.0
Jinja2==2.11.1
joblib==0.14.1
json5==0.9.4
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==7.1.0
jupyter-console==6.1.0
jupyter-contrib-core==0.3.3
jupyter-contrib-nbextensions==0.5.1
jupyter-core==4.6.1
jupyter-highlight-selected-word==0.2.0
jupyter-latex-envs==1.4.6
jupyter-nbextensions-configurator==0.4.1
jupyter-server==1.12.0
jupyter-tabnine==1.2.3
jupyterlab==3.2.4
jupyterlab-server==2.8.2
jupyterthemes==0.20.0
kiwisolver==1.1.0
lazy-object-proxy==1.9.0
lesscpy==0.15.0
lxml==4.6.1
mapclassify==2.2.0
MarkupSafe==1.1.1
matplotlib==3.2.1
matplotlib2tikz==0.7.6
mccabe==0.7.0
mercantile==1.1.2
mistune==0.8.4
more-itertools==8.2.0
msgpack==0.6.2
multitasking==0.0.10
munch==2.5.0
nbclassic==0.3.4
nbconvert==5.6.1
nbformat==5.0.4
neovim==0.3.1
nest-asyncio==1.5.1
nose==1.3.7
notebook==6.4.6
numpy==1.18.1
oauthlib==3.2.2
openpyxl==3.0.9
packaging==21.3
pandas==1.0.1
pandocfilters==1.4.2
parso==0.6.1
patsy==0.5.2
pexpect==4.8.0
pickleshare==0.7.5
Pillow==7.0.0
platformdirs==2.6.2
plotly==4.5.2
pluggy==0.13.1
ply==3.11
prometheus-client==0.7.1
prompt-toolkit==3.0.3
protobuf==4.21.12
ptyprocess==0.6.0
py==1.8.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycosat==0.6.3
pycparser==2.21
pygal==2.4.0
pygal-maps-fr==1.1.0
Pygments==2.5.2
pylint==2.16.1
pynvim==0.4.1
Pyomo==6.5.0
pyparsing==2.4.6
pyperclip==1.8.2
pyproj==2.5.0
pyrsistent==0.15.7
pyshp==2.1.0
pytest==5.3.5
python-dateutil==2.8.1
pytz==2019.3
PyYAML==5.3.1
pyzmq==18.1.1
qtconsole==4.6.0
rasterio==1.1.3
requests==2.27.1
requests-oauthlib==1.3.1
retrying==1.3.3
rfc3986==1.5.0
rsa==4.9
ruamel.yaml==0.16.10
ruamel.yaml.clib==0.2.0
scikit-learn==0.22.2.post1
scipy==1.4.1
seaborn==0.10.0
Send2Trash==1.8.0
Shapely==1.7.0
six==1.14.0
sniffio==1.2.0
snuggs==1.4.7
sortedcontainers==2.4.0
soupsieve==1.9.5
statsmodels==0.13.2
terminado==0.8.3
testpath==0.4.4
tikzplotlib==0.10.1
tomli==2.0.1
tomlkit==0.11.6
tornado==6.1
tqdm==4.64.1
traitlets==4.3.3
typing_extensions==4.4.0
uritemplate==4.1.1
urllib3==1.25.8
wcwidth==0.1.8
webcolors==1.12
webencodings==0.5.1
websocket-client==1.2.1
widgetsnbextension==3.5.1
wrapt==1.12.0
xlrd==1.2.0
XlsxWriter==3.0.3
yfinance==0.1.70
zstandard==0.19.0
